hr {
  margin: 20px 0;
}

.list_items_content {
  display: grid;
  grid-template-columns: repeat(auto, minmax(0, 1fr));
  grid-gap: 1rem;
}

.list_items_content .blog_post h3 {
  text-align: left;
}

.list_items_content .blog_post .item {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1rem;
}

.list_items_content .blog_post .item img {
  height: 300px;
  width: 100%;
  display: block;
  object-fit: cover;
}
.list_items_content .blog_post .item a {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .list_items_content .blog_post .item {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    align-items: center;
  }
  .list_items_content .blog_post .item img {
    height: auto;
    width: 100%;
  }
}
